<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUPALIO BOOKINGS</title>
    <script src="reservation.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>YOUR JOURNEY BEGINS HERE!</h1>
    <h1>Discover Rupalio offers crafted to enhance your stay and create unforgettable moments.</h1>
    <p>Your time is precious, even more so when you travel.We are here to ensure that we fulfill the needs of the discerning business executive and leisure traveler.
       Welcome to Rupalio bookings!.
    </p>
   
<form >
    <label  for="name">Name</label>
    <input id="name"  type="text">
    <label for="Region">Region</label>
    <input id="Region"  type="text">
    
   
</form>
<button input type="submit" class="button" onclick="submit()"> SUBMIT</button>


<br>  
<p id="results"></p>

</body>
</html>