body{
    background-color: rgb(224, 232, 235);
    background-image: url("Nanyuki.jpg");
    
}
h1{
    color: rgb(11, 10, 10);
   text-align: center;

    
    
 }

 p {
    color: black;
    font-size: medium;
    font-family: 'Times New Roman';
    text-align: center;
 }
 img {
    float: left;
    margin: 10px;
    border-bottom: black
  }

  button,form,#results{
    size: 15cm;
    background-color: #4CAF50;
    color: rgb(8, 141, 79);
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    align-items: flex-end;
  }

